<h1>Redes sociales más usadas:</h1>
<hr />
<div
  *ngIf="doughnutChartData.length === 0; else dona"
  class="alert alert-info text-center"
>
  Cargando...
</div>
<div class="row">
  <div class="col">
    <ng-template #dona>
      <div style="display: block">
        <canvas
          baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          [colors]="colors"
        >
        </canvas>
      </div>
      <span>Información en billones de usuarios</span>
    </ng-template>
  </div>
</div>
